node_modules/
build/
dist/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*.local
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.mypy_cache/
.pytest_cache/
.cache/
db.sqlite3
venv/
.env.django
staticfiles/
static/
media/
.vscode/
.idea/
.DS_Store
Thumbs.db
# Logs
*.log
